{% extends 'wagtailadmin/base.html' %}
{% load static %}

{% block content %}
<div class="nice-padding">
    <h1>Contributor: {{ object.display_name }} ({{ object.user.username }})</h1>
    <p>
        <label for="request_notes">User Activation Request Notes:</label>
        <textarea id="request_notes" readonly>{{ object.activation_request_notes }}
        </textarea>
    </p>
    <form class="simpleform" method="post">
        {% csrf_token %}
        {{ form.as_p }}
{#        <ul class="fields">#}
{#            {{ form.as_ul }}#}
{#        </ul>#}
        <div class="text-right">
            <input class="button" type="submit" value="Save"/>
        </div>
    </form>
</div>
<script src="{% static 'bundle/tinymce/tinymce.min.js' %}"></script>
{% include 'includes/_tinymce.html' with selector="textarea#id_bio" %}
{% endblock %}
