{% load cumorah_tags cumorah_menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="/">Cumorah</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarContainer" aria-expanded="false" aria-controls="navbarContainer" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarContainer" class="collapse navbar-collapse justify-content-between">
            <ul class="navbar-nav">
                {% cumorah_menu as menu_list %}
                {% for menu_item in menu_list %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ menu_item.page.url }}">{{ menu_item }}</a>
                    </li>
                {% endfor %}
                {% collection_pages as collection_pages %}
                {% if collection_pages %}
                    <li class="nav-item dropdown">
                        <a href="#" id="collectionsDropdown" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Collections <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for cpage in collection_pages %}
                                <li><a class="dropdown-item" href="{{ cpage.url }}">{{ cpage.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav d-flex">
                <li class="nav-item dropdown">
                    <a href="#" id="accountDropdown" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if not request.user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url "account_login" %}">Login</a></li>
                        {% else %}
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url "wagtailadmin_home" %}">CMS</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url "account_email" %}">Account Settings</a></li>
                            <li><a class="dropdown-item" href="{% url "account_logout" %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
