{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="body-stream">
            {% include_block page.description %}
            </div>
        </div>
        <div class="col-md-4">
            {% if child_collections %}
            <div class="sub-collections">
                <h3>Collections</h3>
                <ul>
                    {% for coll in child_collections %}
                        <li><a href="{{ coll.url }}">{{ coll.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if child_documents.exists %}
            <div class="documents">
                <h3>Documents</h3>
                <ul>
                    {% for doc in child_documents %}
                        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
                    {% endfor %}
                </ul>
                {% if page.documents_collection %}
                    <h3>{{ page.documents_collection }}</h3>
                    <ul>
                        {% for doc in selected_collection_list %}
                            <li><a href="{{ doc.url }}">{{ doc.title }} ({{ doc.text_doc_type }})</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
