{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<h1>Note: {{ object.title }}</h1>
<h2>{{ object.document.get_parent.title }} / {{ object.document.title }}</h2>

<div class="row">
    <div class="col-md-7">
        <div class="description-text">
            {% if object.reference %}
            {{ object.reference }}
            <hr/>
            {% endif %}
            {{ object.note|safe }}
        </div>
        <div id="note_comment_container"
             {% if request.passport.contributor.active %}
             hx-get="{% url 'repository:note:comment' object.slug %}"
             {% else %}
             hx-get="{% url 'repository:note:comments' object.slug %}"
             {% endif %}
             hx-trigger="load"
             hx-target="#note_comment_container"
             hx-swap="innerHTML">
            <div class="text-center">
                <h2>Loading Comments...</h2>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h2>{{ object.document.title }}</h2>
            </div>
            <div class="card-body">
                {% include_block object.document.description %}
                <div class="right">
                    <a class="btn btn-sm btn-primary" href="{{ object.document.url }}">View this document</a>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
