{% extends 'base.html' %}


{% block content %}
<h1>Update Document Note</h1>
<div class="row">
    <div class="col-md-6">
        {% include 'repository/_note_page_info.html' with page=document_page %}
    </div>
    <div class="col-md-6">

        <form class="simpleform" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-sm btn-primary" type="submit" value="Update"/>
            <a class="btn btn-sm btn-danger" href="{{ document_page.url }}">Cancel</a>
        </form>

    </div>

</div>
{% include 'includes/_tinymce.html' with selector="textarea#id_note" %}

{% endblock %}
