<h3>Create Observation</h3>
<form class="simpleform" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-sm btn-primary" type="submit" value="Create"
           hx-post="{{ request.path }}"
           hx-trigger="click"
           hx-target="#observation_container"
           hx-swap="innerHTML"

    />
    <a class="btn btn-sm btn-danger"
       hx-get="{% url 'repository:document:observation_list' form.instance.document.pk %}"
       hx-trigger="click"
       hx-target="#observation_container"
       hx-swap="innerHTML">Cancel</a>
</form>