<h2>Observations
    {% if request.passport.contributor.active %}
        <button class="btn btn-sm btn-primary"
                hx-get="{% url 'repository:document:observation_create' document_pk %}"
                hx-target="#observation_container"
                hx-swap="innerHTML"
        >Add</button>
    {% endif %}
</h2>
{% for ob in object_list %}
    <div class="card observationcard">
        <div class="card-header"><h3>{{ ob.title }}</h3></div>
        <div class="card-body">
            {% if ob.reference %}
            <div>{{ ob.reference }}</div>
            <hr/>
            {% endif %}
            <div>{{ ob.description|linebreaksbr }}</div>
            <hr/>
            <div>
                <a class="btn btn-sm btn-primary" href="{% url 'repository:observation:detail' ob.slug %}">{{ ob.observationcomment_set.count }} comments</a>
                <span class="author-info">Author: {{ ob.contributor.display_name }}</span>
            </div>
        </div>
    </div>
{% empty %}
    <div class="text-center">
        <span class="font-weight:bold;">None</span>
    </div>
{% endfor %}
